@use 'styles/utilities' as *;

.blocksContainer {     
    .blocksForm {
        background-color: getDark(0);
        border-radius: 10px;
        padding: 10px;

        .blocksInput {
            width: 100%;
            padding: 10px;

            & > div {
                display: inline-block;
                width: 50%;
            }

            input, select{
                background-color: getDark(1);
                border-color: getBlue(0);

                color: getBlue(3);
                border-radius: 5px;
                width: 100%;
                padding: 10px;
            }
        }

        .blocksSubmit {
            border-radius: 15px;
            @include styles_clicker;

            width: 100%;
            padding: 15px;
        }
    }
}