@use 'styles/utilities' as *;


.scheduleVisualizer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "schedule schedule schedule"
    "arrowp courses arrown";

    @include small {
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-areas:
        "courses schedule arrowp"
        "courses schedule null"
        "courses schedule arrown";
    }

    .svgCourses {
        grid-area: courses;
    }
    
    .svgGraph {
        grid-area: schedule;
    }
    
    .svgArrow {
        &Prev, &Next {
            cursor: pointer;
            aspect-ratio: 1;
            justify-self: center;
            align-self: center;
        }
    
        &Prev {
            grid-area: arrowp;
        }
    
        &Next {
            grid-area: arrown;
        }
    }
}