@use 'styles/utilities' as *;

.classesContainer {
    &Navbar {
        width: 75%;
        .classesNavigator {
            display: inline-block;
            width: 50%;
            padding: 10px;

            select {
                border-radius: 10px;
                width: 100%;
                padding: 10px;

                @include styles_clicker;
            }
        }
    }
    
    &Visual {
        width: 87.5%;
        @include small{
            width: 60%;
        }
    }
    
}