@use 'styles/utilities' as *;

.classesContainer {
    display: grid;

    h1 {
        text-align: center;
    }

    .classesNavbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "title   title"
        "classes groups";

        #cnavTitle {
            grid-area: title;
        }

        #cnavClasses {
            grid-area: classes;
        }

        #cnavGroups {
            grid-area: groups;
        }

        .classesOption {
            padding: 10px;

            select {
                border-radius: 10px;
                width: 100%;
                padding: 10px;

                @include styles_clicker;
            }
        }
    }
    
    .classesVisual {
        justify-self: center;

        @include medium{
            width: 60%;
        }
    }
    
}