@use 'styles/utilities' as *;

.navbarContainer {
    $bottomLine: .25rem;
    $paddingSpace: .75rem;
    position: fixed;
    overflow-x: auto;
    background: linear-gradient(0, getDark(1) 0%, getDark(3) 100%);

    width: 100%;
    height: (2 * $paddingSpace) + $bottomLine + 1.24rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: $bottomLine solid getBlue(3);

    .navOption, .navSelected {
        cursor: pointer;
        padding: $paddingSpace;
        transition: all .25s;
    }

    .navOption:hover {
        color: getBlue(0);
        background: getDark(3);
    }

    .navSelected {
        color: getDark(0);
        background: linear-gradient(0, getBlue(3) 0%, getBlue(0) 100%);
    }
}