@use 'styles/utilities' as *;

.scheduleContainer {
    .scheduleContent {
        text-align: center;

        button {
            padding: 10px;
            margin: 10px;
            @include styles_clicker;
        }
    }
}