@use 'styles/utilities' as *;

.blocksNavbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title  title"
    "create delete";

    .bnavTitle {
        grid-area: title;

        h1 {
            text-align: center;
        }
    }

    #bnavCreate {
        grid-area: create;
    }

    #bnavDelete {
        grid-area: delete;
    }
    
    .bnavOption {
        padding: 10px;

        button {
            width: 100%;
            padding: 10px;
            @include styles_clicker;
        }
    }
}