/* Palette "OIL 6", taken from "https://lospec.com/palette-list/oil-6" */
$color_0: #272744;
$color_1: #494d7e;
$color_2: #8b6d9c;
$color_3: #c69fa5;
$color_4: #f2d3ab;
$color_5: #fbf5ef;

@mixin small {
    @media only screen and (min-width: 600px){
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: 1024px){
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1440px){
        @content;
    }
}

@mixin flex-box{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}