@use "./utilities" as *;

.visual-container {
    @include flex-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Tutorial */
    .tutorial-block {
        padding: 10px;
    }

    /* Blocks */
    .blocks-form {
        width: 75%;
        background-color: $color_1;
        border-radius: 10px;
        padding: 20px;

        .blocks-input {
            width: 100%;
            padding: 10px;

            & > div {
                display: inline-block;
                width: 50%;
            }

            input, select{
                background-color: $color_0;
                border-color: $color_2;

                color: $color_5;
                border-radius: 5px;
                width: 100%;
                padding: 10px;
            }
        }

        .blocks-submit {
            
            border-radius: 15px;
            border-color: $color_2;
            background-color: $color_2;
            color: $color_0;
            transition: all .25s ease;
            font-size: medium;

            &:hover {
                cursor: pointer;
                background-color: $color_0;
                color: $color_2;
            }

            width: 100%;
            padding: 15px;
        }
    }

    /* Classes */
    .classes-container {
        &-selector {
            width: 75%;
            .classes-selector {
                display: inline-block;
                width: 50%;
                padding: 10px;
    
                select {
                    background-color: $color_1;
                    border-color: $color_2;
                    color: $color_5;
                    border-radius: 10px;
                    width: 100%;
                    padding: 10px;

                    &:hover{
                        background-color: $color_2;
                        border-color: $color_1;
                    }
                }
            }
        }
        
        &-visual {
            width: 87.5%;
            @include small{
                width: 60%;
            }


            path {
                stroke: $color_5;
            }

            text {
                fill: $color_5;
            }

            .class-block {
                fill: $color_2;
            }
        }
        
    }

    /* Generate */
    .schedule-container {
        &-selector {
            width: 75%;
            
            .schedule-selector {
                display: inline-block;
                width: 50%;
                margin: auto 0;
                padding: 20px;

                button {
                    width: 100%;
                    padding: 10px;
                }
            }
        }

        &-visual {
            width: 87.5%;
            overflow-y: auto;

            .schedule-checker {
                width: 50%;
                display: inline-block;
                text-align: center;
                padding: 15px;
            }
        }
    }
}