/* Palette "CP_RUST-5", taken from "https://lospec.com/palette-list/cp_rust-5" */
$color_0: #230000;
$color_1: #712f30;
$color_2: #a54932;
$color_3: #e18866;
$color_4: #f0bb9c;
$color_5: #ffe2c6;

@mixin small {
    @media only screen and (min-width: 600px){
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: 1024px){
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1440px){
        @content;
    }
}

@mixin flex-box{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}

@mixin styles_clicker {
    color: $color_5;
    border-color: $color_2;
    background-color: $color_1;

    &:hover {
        @content;
        cursor: pointer;
        border-color: $color_1;
        background-color: $color_2;
    }
}

@mixin arrow($angle1, $angle2){
    background-image: url('../public/imgs/Arrow.png');
    background-size: cover;
    transform: rotate($angle2);
    @include small {
        transform: rotate($angle1);
    }
    opacity: 0.5;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

@mixin blur($val){
    -webkit-filter: blur($val);
    -moz-filter: blur($val);
    -o-filter: blur($val);
    -ms-filter: blur($val);
    filter: blur($val);
}