@use 'sass:list';

$dark_tones: #000000, #0A0A0A, #131313, #181818, #1F1F1F;
$green_tones: #034269, #1C5E85, #276699, #1F6EA3, #247EB4;

@function getColor($list, $i){
    @if($i >= 0) {
        $i: $i + 1;
    } 
    @return list.nth($list, $i);
}

@function getDark($i) {
    @return getColor($dark_tones, $i);
}

@function getBlue($i) {
    @return getColor($green_tones, $i);
}

@mixin small {
    @media only screen and (min-width: 600px){
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: 1024px){
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1440px){
        @content;
    }
}

@mixin styles_clicker {
    color: getBlue(3);
    border-color: getBlue(0);
    background-color: getDark(0);
    transition: all .25s;

    &:hover {
        @content;
        cursor: pointer;
        border-color: getBlue(3);
        background-color: getDark(3);
    }
}