@use './utilities' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: getBlue(2);
    background: linear-gradient(0, getDark(1) 0%, getDark(3) 100%);

    #__next {
        width: 100vw;
        min-height: 100vh;

        display: grid;
        & > div:last-child {
            margin-top: 3rem;
            width: 90%;
            justify-self: center;
            align-self: center;

            @include small {
               width: 60%;
            }
        }
    }
}