@use 'styles/utilities' as *;

.landpageContainer {
    .landpageTitle {
        text-align: center;
    }

    .landpageParagraph {
        padding: 10px;

        a {
            all: unset;
            cursor: pointer;
            color: getBlue(3);
        }
    }
}