@use './utilities' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color_5;
    background-color: $color_0;
}

#__next {
    width: 100vw;
    height: 100vh;

    @include flex-box;
    flex-direction: column;

    @include small{
        flex-direction: row;

        $distribution: 30%;
        .navbarContainer {
            width: $distribution;
        }

        .visual-container {
            width: 100% - $distribution;
        }
    }
}