/* Palette "CP_RUST-5", taken from "https://lospec.com/palette-list/cp_rust-5" */
.visual-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Tutorial */
  /* Blocks */
  /* Classes */
  /* Generate */
}
@media only screen and (min-width: 600px) {
  .visual-container {
    justify-content: center;
  }
}
.visual-container .tutorial-block {
  padding: 10px;
}
.visual-container .blocks-form {
  width: 75%;
  background-color: #712f30;
  border-radius: 10px;
  padding: 20px;
}
.visual-container .blocks-form .blocks-input {
  width: 100%;
  padding: 10px;
}
.visual-container .blocks-form .blocks-input > div {
  display: inline-block;
  width: 50%;
}
.visual-container .blocks-form .blocks-input input, .visual-container .blocks-form .blocks-input select {
  background-color: #230000;
  border-color: #a54932;
  color: #ffe2c6;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
.visual-container .blocks-form .blocks-submit {
  border-radius: 15px;
  border-color: #a54932;
  background-color: #a54932;
  color: #230000;
  transition: all 0.25s ease;
  font-size: medium;
  width: 100%;
  padding: 15px;
}
.visual-container .blocks-form .blocks-submit:hover {
  cursor: pointer;
  background-color: #230000;
  color: #a54932;
}
.visual-container .blocks-container-selector {
  width: 75%;
}
.visual-container .blocks-container-selector .blocks-selector {
  padding: 10px;
  display: inline-block;
  width: 50%;
}
.visual-container .blocks-container-selector .blocks-selector button {
  width: 100%;
  padding: 10px;
  color: #ffe2c6;
  border-color: #a54932;
  background-color: #712f30;
}
.visual-container .blocks-container-selector .blocks-selector button:hover {
  cursor: pointer;
  border-color: #712f30;
  background-color: #a54932;
}
.visual-container .blocks-manager {
  width: 75%;
  height: 60%;
  overflow-y: auto;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .visual-container .blocks-manager {
    height: 75%;
  }
}
.visual-container .blocks-manager .class-holder h1 {
  background-color: #712f30;
  padding: 10px;
}
.visual-container .blocks-manager .class-holder .group-holder {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 50%;
}
@media only screen and (min-width: 600px) {
  .visual-container .blocks-manager .class-holder .group-holder {
    width: 25%;
  }
}
.visual-container .blocks-manager .class-holder .group-holder .block-holder {
  padding: 5px;
}
.visual-container .blocks-manager .class-holder .group-holder .block-holder:hover {
  cursor: pointer;
  background-color: #712f30;
}
.visual-container .classes-container-selector {
  width: 75%;
}
.visual-container .classes-container-selector .classes-selector {
  display: inline-block;
  width: 50%;
  padding: 10px;
}
.visual-container .classes-container-selector .classes-selector select {
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  color: #ffe2c6;
  border-color: #a54932;
  background-color: #712f30;
}
.visual-container .classes-container-selector .classes-selector select:hover {
  cursor: pointer;
  border-color: #712f30;
  background-color: #a54932;
}
.visual-container .classes-container-visual {
  width: 87.5%;
}
@media only screen and (min-width: 600px) {
  .visual-container .classes-container-visual {
    width: 60%;
  }
}
.visual-container .classes-container-visual path {
  stroke: #ffe2c6;
}
.visual-container .classes-container-visual text {
  fill: #ffe2c6;
}
.visual-container .classes-container-visual .class-block {
  fill: #a54932;
}
.visual-container .schedule-container-selector {
  width: 75%;
}
.visual-container .schedule-container-selector .schedule-selector {
  display: inline-block;
  width: 50%;
  margin: auto 0;
  padding: 20px;
}
.visual-container .schedule-container-selector .schedule-selector button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #ffe2c6;
  border-color: #a54932;
  background-color: #712f30;
}
.visual-container .schedule-container-selector .schedule-selector button:hover {
  cursor: pointer;
  border-color: #712f30;
  background-color: #a54932;
}
.visual-container .schedule-container-visual {
  width: 87.5%;
  overflow-y: auto;
  text-align: center;
}
.visual-container .schedule-container-visual .schedule-checker {
  width: 50%;
  padding: 15px;
  display: inline-flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .visual-container .schedule-container-visual .schedule-checker {
    width: 33%;
  }
}
.visual-container .schedule-container-visual .schedule-checker .schedule-class {
  padding: 10px;
  border: 1px solid #a54932;
  border-radius: 10px;
  background-color: #712f30;
}
.visual-container .schedule-container-visual .schedule-checker .schedule-groups {
  padding: 10px;
}
.visual-container .schedule-container-visual .schedule-visualizer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "schedule schedule schedule" "arrowp courses arrown";
}
@media only screen and (min-width: 600px) {
  .visual-container .schedule-container-visual .schedule-visualizer {
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas: "courses schedule arrowp" "courses schedule null" "courses schedule arrown";
  }
}
.visual-container .schedule-container-visual .schedule-visualizer .schedule-courses {
  grid-area: courses;
}
.visual-container .schedule-container-visual .schedule-visualizer .schedule-graph {
  grid-area: schedule;
}
.visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-prev, .visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-next {
  aspect-ratio: 1;
}
.visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-prev {
  background-image: url("../imgs/Arrow.png");
  background-size: cover;
  transform: rotate(-180deg);
  opacity: 0.5;
  grid-area: arrowp;
}
@media only screen and (min-width: 600px) {
  .visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-prev {
    transform: rotate(-90deg);
  }
}
.visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-prev:hover {
  cursor: pointer;
  opacity: 1;
}
.visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-next {
  background-image: url("../imgs/Arrow.png");
  background-size: cover;
  transform: rotate(0);
  opacity: 0.5;
  grid-area: arrown;
}
@media only screen and (min-width: 600px) {
  .visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-next {
    transform: rotate(90deg);
  }
}
.visual-container .schedule-container-visual .schedule-visualizer .schedule-arrow-next:hover {
  cursor: pointer;
  opacity: 1;
}
.visual-container .schedule-container-visual button {
  padding: 10px;
  margin: 10px;
  color: #ffe2c6;
  border-color: #a54932;
  background-color: #712f30;
}
.visual-container .schedule-container-visual button:hover {
  cursor: pointer;
  border-color: #712f30;
  background-color: #a54932;
}/*# sourceMappingURL=visual.css.map */