@use './utilities' as *;

.visual-container {
    @include flex-box;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow: auto;

    @include small {
        justify-content: center;
    }
}