@use 'styles/utilities' as *;

.scheduleNavbar {    
    .scheduleOption {
        display: inline-block;
        width: 50%;
        margin: auto 0;
        padding: 20px;

        button {
            width: 100%;
            padding: 10px;

            border-radius: 5px;

            @include styles_clicker;
        }
    }
}